version: "3.9"

services:
  api:
    build: .
    container_name: library_api
    ports:
      - "8080:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app/src
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:16
    container_name: library_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: